# 1. 声明使用 SWD 协议
transport select swd

# 2. 声明芯片名称与目标名称
set _CHIPNAME sf32lb52
set _TARGETNAME $_CHIPNAME.cpu

# 3. 创建 SWD 硬件 TAP 节点（0.12+ 新语法：忽略硬件ID检查）
swd newdap $_CHIPNAME cpu -expected-id 0

# 4. 创建调试访问端口 (DAP) 并绑定到 TAP 节点
dap create $_CHIPNAME.dap -chain-position $_TARGETNAME

# 5. 创建目标 CPU，指定内核为 Cortex-M，并绑定到刚刚创建的 DAP
target create $_TARGETNAME cortex_m -dap $_CHIPNAME.dap

# 6. 设置下载与调试时钟速度为 4000kHz (4MHz)
adapter speed 4000

# 7. 纯软件模式，不依赖硬件复位引脚
reset_config none